
// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

body {
  font-family: Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.8;
  color: #24292e;
  background-color: #fff;
}

a {
  color: #0366d6;
}

h1, h2 {
  margin: 0
}

p {
  font-size: 0.98rem;
}

//code,
//pre {
//  font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
//  background-color: #2b2b2b;
//  color: #fff;
//  padding: 0.25em
//}